   .Team {
    background: url("../Images/Me.jpg") no-repeat center;
    text-align: center;
    height: 40rem; 
    margin-top: 10px;
  }
  .Team .row1 {
    display: grid;
    position: relative;
    justify-items: right;
    margin-right: 10%;
    padding: 1rem;
  }

  @media only screen and (max-width: 600px) {
    .Team .row1 {
      display: grid;
      position: relative;
      justify-items: left;
      margin-left: 15%;
      padding-top: 15%;
    }
    .Team .img {
      background: url("../Images/Me.jpg") no-repeat center center;
      text-align: center;
      height: 40rem;  
      margin-top: 5px;
    }
  }